body, html{
margin:0;
padding:0;
position: relative;
width: 100%;
background-color: #fff;
font-family: 'Roboto', sans-serif;
}

.container{    
    width: 1200px;
    margin: 0 auto;
}

.contentBox {
    width: 100%;
}

.spaceBetween {
    justify-content: space-between;
}

.disFlexCenter {
    display: flex!important;
    align-items: center!important;
}

footer{
    padding:90px 0;
    font-size: 15px;
    background: #1860bf;
    color:#ffffff;
}

/* .copyRightSec{
    color:#ffffff;
} */
.branchs .branch .icon {
    width:50px;
}

.icon img {
    width: 100%;
    height: auto;
}

footer a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}

.marginLeft {
    margin-left: 30px!important;
}

.slimFont{
    font-family:Roboto;
    font-weight:100;
}